# ---- Terraform ----
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfstate.backup
crash.log
crash.*.log
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl

# ---- Ansible ----
*.retry
ansible/inventory/hosts.ini
*.vault_pass
vault.yml
!vault.yml.example